#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [8]:
import pandas as pd
import numpy as np

# Seu código aqui
dados=[-0.08, -0.27, 0.12 , -0.03, 0.26 , 0.40 , 1.02 ]
tempglobal = pd.Series(data=dados)
tempglobal

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [20]:

# seu código aqui
indice=[1900 ,1920 ,1940 ,1960 ,1980 ,2000 ,2020 ]
tempglobalindex = pd.Series(data=dados,index=indice)
tempglobalindex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [28]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturasSerie = pd.Series(dic_temperaturas)
dic_temperaturasSerie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [62]:
arr = np.random.normal(100, 10, (20,3))
arr
pd.DataFrame(arr)
# seu código aqui

             0           1           2
0    95.002578   95.346586   94.317352
1   105.592305  105.599720   99.771607
2    92.208449  101.158168  113.277722
3    90.891428  101.844115   96.471343
4   105.093388   88.814551   91.730116
5   116.401224   93.443907   98.272242
6   104.986963  102.201413   94.589090
7    86.142066  104.176815   89.351135
8    88.315192   92.836342   90.242990
9   103.393449  104.754038   84.423699
10  100.606241   99.039327   95.417173
11   90.185336  103.084201  107.684656
12  103.237277   97.123394   94.023348
13   94.626712   96.646214   95.046781
14  103.782500   90.144806   99.540817
15  106.341594   95.923690   99.274905
16  108.999539   95.813994   92.269050
17   98.336955  107.210449  101.486037
18   90.466911  102.914455   98.359362
19   83.786616   89.580196  102.465021

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [93]:
#seu código aqui
newdata=pd.DataFrame(
    data=arr,
    index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
    columns=['x1','x2','x3']
)
newdata

            x1          x2          x3
1    95.002578   95.346586   94.317352
2   105.592305  105.599720   99.771607
3    92.208449  101.158168  113.277722
4    90.891428  101.844115   96.471343
5   105.093388   88.814551   91.730116
6   116.401224   93.443907   98.272242
7   104.986963  102.201413   94.589090
8    86.142066  104.176815   89.351135
9    88.315192   92.836342   90.242990
10  103.393449  104.754038   84.423699
11  100.606241   99.039327   95.417173
12   90.185336  103.084201  107.684656
13  103.237277   97.123394   94.023348
14   94.626712   96.646214   95.046781
15  103.782500   90.144806   99.540817
16  106.341594   95.923690   99.274905
17  108.999539   95.813994   92.269050
18   98.336955  107.210449  101.486037
19   90.466911  102.914455   98.359362
20   83.786616   89.580196  102.465021

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [117]:
# seu código aqui
newdata['media']=(newdata['x1']+newdata['x2']+newdata['x3'])/3
newdata

            x1          x2          x3       media
1    95.002578   95.346586   94.317352   94.888839
2   105.592305  105.599720   99.771607  103.654544
3    92.208449  101.158168  113.277722  102.214780
4    90.891428  101.844115   96.471343   96.402295
5   105.093388   88.814551   91.730116   95.212685
6   116.401224   93.443907   98.272242  102.705791
7   104.986963  102.201413   94.589090  100.592489
8    86.142066  104.176815   89.351135   93.223339
9    88.315192   92.836342   90.242990   90.464841
10  103.393449  104.754038   84.423699   97.523729
11  100.606241   99.039327   95.417173   98.354247
12   90.185336  103.084201  107.684656  100.318064
13  103.237277   97.123394   94.023348   98.128006
14   94.626712   96.646214   95.046781   95.439902
15  103.782500   90.144806   99.540817   97.822708
16  106.341594   95.923690   99.274905  100.513397
17  108.999539   95.813994   92.269050   99.027528
18   98.336955  107.210449  101.486037  102.344480
19   90.466911  102.914455   98.359362   97.246909
20   83.786616   89.580196  102.465021   91.943944

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [171]:
# seu código aqui
newdata['log_med']=np.log(newdata.media)
newdata

            x1          x2          x3       media   log_med
1    95.002578   95.346586   94.317352   94.888839  4.552706
2   105.592305  105.599720   99.771607  103.654544  4.641064
3    92.208449  101.158168  113.277722  102.214780  4.627076
4    90.891428  101.844115   96.471343   96.402295  4.568530
5   105.093388   88.814551   91.730116   95.212685  4.556113
6   116.401224   93.443907   98.272242  102.705791  4.631869
7   104.986963  102.201413   94.589090  100.592489  4.611078
8    86.142066  104.176815   89.351135   93.223339  4.534998
9    88.315192   92.836342   90.242990   90.464841  4.504961
10  103.393449  104.754038   84.423699   97.523729  4.580096
11  100.606241   99.039327   95.417173   98.354247  4.588576
12   90.185336  103.084201  107.684656  100.318064  4.608346
13  103.237277   97.123394   94.023348   98.128006  4.586273
14   94.626712   96.646214   95.046781   95.439902  4.558497
15  103.782500   90.144806   99.540817   97.822708  4.583157
16  106.341594   95.923690   99.274905  100.513397  4.610291
17  108.999539   95.813994   92.269050   99.027528  4.595398
18   98.336955  107.210449  101.486037  102.344480  4.628344
19   90.466911  102.914455   98.359362   97.246909  4.577253
20   83.786616   89.580196  102.465021   91.943944  4.521179