# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [3]:
sinasc_1 = sinasc_raw[['IDADEMAE', 'IDADEPAI','munResNome']]

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [22]:
#idademedia = sinasc_1.groupby(['munResNome']).aggregate([('total','count'),('média','mean'),('máximo', 'max'),('mínimo','min')])
idademedia = sinasc_1.groupby(['munResNome']).mean()
idademedia['DIFERENCA']=idademedia.apply(lambda x: x['IDADEPAI']-x['IDADEMAE'],axis=1)
idademedia.sort_values('DIFERENCA',ascending=False)

                            IDADEMAE   IDADEPAI  DIFERENCA
munResNome
Itapuã do Oeste            26.064220  42.500000  16.435780
Cacaulândia                25.546667  36.333333  10.786667
Pimenteiras do Oeste       25.075000  35.600000  10.525000
Monte Negro                25.648241  34.678571   9.030330
Cabixi                     26.037500  34.333333   8.295833
Vale do Anari              26.096774  34.000000   7.903226
Corumbiara                 24.716535  32.470588   7.754053
Vilhena                    26.433962  34.152941   7.718979
Cujubim                    24.482927  31.400000   6.917073
Ariquemes                  25.607866  32.466667   6.858801
Colorado do Oeste          27.602804  34.354839   6.752035
São Miguel do Guaporé      25.926346  32.666667   6.740321
Nova Mamoré                25.326389  31.692308   6.365919
Jaru                       25.982974  32.197183   6.214209
Costa Marques              24.412017  30.613636   6.201619
Porto Velho                26.312670  32.352679   6.040008
Parecis                    26.454545  32.473684   6.019139
São Francisco do Guaporé   25.660066  31.638889   5.978823
Ministro Andreazza         27.904762  33.849315   5.944553
Mirante da Serra           26.304878  32.154762   5.849884
Machadinho D'Oeste         25.480000  31.326923   5.846923
Campo Novo de Rondônia     24.825301  30.500000   5.674699
Seringueiras               24.910714  30.500000   5.589286
Teixeirópolis              26.031250  31.500000   5.468750
Buritis                    25.559177  30.812500   5.253323
Espigão D'Oeste            26.093333  31.198113   5.104780
Guajará-Mirim              25.462228  30.470588   5.008360
Alvorada D'Oeste           25.770732  30.757282   4.986550
São Felipe D'Oeste         26.481481  31.395833   4.914352
Primavera de Rondônia      27.023256  31.888889   4.865633
Ouro Preto do Oeste        26.375594  31.233244   4.857650
Governador Jorge Teixeira  24.401786  29.222222   4.820437
Ji-Paraná                  26.361137  31.132239   4.771103
Candeias do Jamari         25.243323  29.894737   4.651413
Novo Horizonte do Oeste    26.938776  31.588235   4.649460
Santa Luzia D'Oeste        26.121212  30.703297   4.582085
Theobroma                  25.536082  30.083333   4.547251
Pimenta Bueno              25.199675  29.745174   4.545498
Nova União                 26.894231  31.371429   4.477198
Cerejeiras                 27.240506  31.652778   4.412271
Presidente Médici          25.796053  30.150754   4.354701
Alto Alegre dos Parecis    24.844156  29.179104   4.334949
Urupá                      26.688235  31.008929   4.320693
Nova Brasilândia D'Oeste   26.222222  30.520833   4.298611
Vale do Paraíso            25.679012  29.976744   4.297732
Chupinguaia                25.333333  29.629630   4.296296
Cacoal                     26.890102  30.931854   4.041752
Alto Paraíso               24.960177  28.833333   3.873156
Rolim de Moura             26.600863  30.360479   3.759616
Alta Floresta D'Oeste      25.991826  29.548701   3.556876
Castanheiras               27.281250  30.392857   3.111607
Rio Crespo                 26.660000  28.000000   1.340000
Município ignorado - RO    24.000000  22.000000  -2.000000

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [14]:
sinasc_2 = sinasc_raw[['ESCMAE', 'DTNASC','PESO','SEXO']]

sinasc_2[sinasc_2['DTNASC'] == '2019-05-27'].groupby(['ESCMAE','SEXO'])['PESO'].mean().unstack()

SEXO                Feminino    Masculino
ESCMAE
1 a 3 anos               NaN  3475.000000
12 anos ou mais  3201.666667  3332.214286
4 a 7 anos       3399.166667  3491.250000
8 a 11 anos      3249.068966  3279.464286

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

### Município que nasceu menos bebês em 2019

In [16]:
sinasc_raw[sinasc_raw['munResNome'] != 'Município ignorado - RO'].groupby('munResNome')['IDADEMAE'].count().sort_values(ascending=True).head(1)

munResNome
Castanheiras    32
Name: IDADEMAE, dtype: int64

### Idade média, máxima, mínima das mães

In [17]:
sinasc_raw[sinasc_raw['munResNome'] == 'Castanheiras'].groupby('munResNome')['IDADEMAE'].aggregate([('média','mean'),('máximo', 'max'),('mínimo','min')])

                 média  máximo  mínimo
munResNome
Castanheiras  27.28125      39      17

### Idade média, máxima, mínima dos pais

In [18]:
sinasc_raw[sinasc_raw['munResNome'] == 'Castanheiras'].groupby('munResNome')['IDADEPAI'].aggregate([('média','mean'),('máximo', 'max'),('mínimo','min')])

                  média  máximo  mínimo
munResNome
Castanheiras  30.392857    43.0    17.0

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

### Município que nasceu mais bebês no mês de março

In [19]:
sinasc_raw['DTNASC'] = pd.to_datetime(sinasc_raw['DTNASC'])
sinasc_3=sinasc_raw[sinasc_raw['DTNASC'].isin(pd.date_range('2019-03-01', '2019-03-31'))]
sinasc_3.groupby('munResNome')['IDADEMAE'].count().sort_values(ascending=False).head(1)

munResNome
Porto Velho    744
Name: IDADEMAE, dtype: int64

### Quantidade de filhos vivos média, máxima, mínima nesse municipio

In [20]:
sinasc_3[sinasc_3['munResNome'] == 'Porto Velho'].groupby('munResNome')['QTDFILVIVO'].aggregate([('total','count'),('média','mean'),('máximo', 'max'),('mínimo','min')])

             total     média  máximo  mínimo
munResNome
Porto Velho    627  1.295056     9.0     0.0

### Idade média, máxima, mínima dos pais nesse municipio

In [ ]:
sinasc_3[sinasc_3['munResNome'] == 'Porto Velho'].groupby(['munResNome'])['IDADEMAE','IDADEPAI'].aggregate([('total','count'),('média','mean'),('máximo', 'max'),('mínimo','min')])

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

### Insights 
- Itapuã do Oeste é o município onde encontramos a maior diferença de idade média entre mães e pais (16,4 anos).

In [ ]:
sinasc_raw.dtypes

In [ ]:
sinasc_raw.select_dtypes(exclude=['int64','float64'])

In [ ]:
sinasc_raw.columns